<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap);
* {
  font-family: "Merienda", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
h2 {
  font-family: "Caveat", cursive;
}
a {
  color: #fff;
  display: block;
  margin: 0 auto;
  width: fit-content;
  background: #15c0c7;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 25px;
  transition: 0.5s;
}
a:hover {
  background-color: #333;
}
.contaner {
  width: 85%;
  margin: 0 auto;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #15c0c7;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--first-link);
}
header {
  background-color: #32353e;
  display: flex;
  justify-content: end;
  padding: 10px 15px;
}
header .socail-icon {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
header .socail-icon .icon-hearder {
  margin: 0 5px;
  background-color: #15bfc6;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: background-color 0.5s;
}
header .socail-icon .icon-hearder:hover {
  background-color: #fff;
  cursor: pointer;
}
header .socail-icon .icon-hearder i:hover {
  color: #32353e;
}
header .formserche {
  background-color: #4a4e55;
}
header .formserche form {
  background-color: #4a4e55;
  padding: 5px 10px;
}
header .formserche form input::placeholder {
  color: #fff;
}
header .formserche form input,
header .formserche form button {
  background-color: #fff0;
  outline: none;
  border: 0;
  padding: 5px 15px;
  color: #fff;
}
header .formserche form button {
  color: #fff;
  transition: color 0.5s;
}
header .formserche form button:hover {
  color: #15c0c7;
  cursor: pointer;
}
nav {
  padding: 8px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 0.24) 0 3px 8px;
}
.navcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bars-nav {
  display: none;
}
nav .navcontent .logo img {
  width: 150px;
}
nav .navcontent ul {
  list-style: none;
  display: flex;
}
nav .navcontent ul li {
  margin-right: 15px;
}
nav .navcontent ul li .linknavspaiacl {
  background-color: #fff;
  border: 0;
  margin: 0;
  width: fit-content;
  border-radius: 0;
  padding: 0;
  font-size: 18px;
  color: #32353e;
  cursor: pointer;
}
nav .navcontent ul li.active a {
  color: #15c0c7;
}
nav .navcontent .contact span {
  display: block;
}
nav .navcontent .contact span:nth-child(2) {
  color: #15c0c7;
}
nav .navcontent .contact span:nth-child(2):hover {
  color: #32353e;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  nav .navcontent ul {
    display: none;
  }
  .bars-nav {
    display: block;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    margin-right: 15px;
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  nav .navcontent .contact {
    display: none;
  }
}
@media screen and (max-width: 775px) {
  header .socail-icon {
    display: none;
  }
  .formserche,
  header .formserche form {
    width: 100%;
    display: flex;
  }
  header .formserche form input {
    flex-grow: 1;
    margin-right: 10px;
  }
}
#landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../imgs/imgi_4_slider_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.layar {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}
@media screen and (min-width: 1200px) {
  .contaner {
    width: 1170px;
    margin: 0 auto;
  }
}
.land-content {
  width: 78%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.land-content h1 {
  font-size: 60px;
}
.land-content p {
  margin: 20px 0;
  font-size: 40px;
}
@media screen and (max-width: 780px) {
  .land-content p {
    display: none;
  }
  .land-content h1 {
    font-size: 30px;
  }
  .land-content a {
    margin-top: 20px;
    font-size: 1.4rem;
  }
}
#Business {
  padding: 50px 0;
  min-height: 100vh;
  width: 100%;
}
.main-head,
.main-heading {
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
}
.main-head span {
  font-size: 25px;
  font-weight: 500;
}
.main-head h2 {
  font-size: 40px;
  font-weight: 800;
}
.main-head h2 {
  position: relative;
}
.main-head h2::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: aqua;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  animation: changewidth 2s infinite;
}
.main-head h2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: aqua;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}
@keyframes changewidth {
  0% {
    width: 100px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 100px;
  }
}
.business-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
}
.business-card {
  width: calc(90% / 3);
  box-shadow:
    rgb(50 50 93 / 0.25) 0 6px 12px -2px,
    rgb(0 0 0 / 0.3) 0 3px 7px -3px;
}
.card-img {
  overflow: hidden;
}
.card-img img {
  width: 100%;
  display: block;
}
.card-img img:hover {
  transform: scale(1.2);
}
.card-info {
  padding: 10px;
}
.card-info span:nth-child(1) {
  color: #15c0c9;
  margin-right: 10px;
}
.card-info span {
  font-size: 15px;
  color: #777;
}
.card-info h4 {
  margin: 15px 0;
  font-size: 25px;
}
.card-info p {
  color: #777;
}
.buttonbessniscard {
  width: 90%;
  margin: 0 auto;
}
.button {
  margin-top: 48px;
  width: fit-content;
  margin-top: 48px;
}
@media screen and (max-width: 575px) {
  .business-cards .business-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .business-cards .business-card {
    width: 45%;
    margin-bottom: 20px;
  }
}
.services {
  padding: 40px 0;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-heading h3 {
  font-size: 1.75rem;
}
.main-heading h2 {
  margin-top: 5px;
  font-weight: 800;
  font-size: 40px;
  position: relative;
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
}
.main-heading h2::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: aqua;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  animation: changewidth 2s infinite;
}
.main-heading h2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: aqua;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}
.serv-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.serv-card {
  padding: 20px 30px;
  max-width: 25%;
  flex: 1 1 250px;
  text-align: center;
}
.card-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 50%;
  color: #fff;
  background-color: #15c0c7;
}
.icon i {
  height: 48px;
  width: 48px;
  font-size: 50px;
  font-weight: 900;
}
.serv-card p {
  line-height: 1.5;
  color: #b8b8b8;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.serv-card h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
  color: var(--secondary-color);
  position: relative;
  font-weight: 500;
  font-size: 25px;
}
.serv-card h3::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background: #cdced0;
}
a.server {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .serv-card {
    max-width: 45%;
  }
}
@media (max-width: 575px) {
  .serv-card {
    max-width: 100%;
  }
}
.case {
  width: 100%;
  background-image: url(..//imgs/imgi_13_case.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.layar2 {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
}
.case .contaner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 50px 25px;
}
.case .main-heading {
  padding: 10px;
}
.case .main-heading h2 {
  margin: 5px 0 30px 0;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
}

.case .contaner .casepragraph p {
  color: #fff;
  max-width: 800px;
  margin: 30px auto;
}
.case .contaner .p1 {
  font-size: 25px;
  line-height: 1.8;
}
.case .contaner .p2 {
  font-size: 18px;
  line-height: 1.8;
}
.link-button-case-section {
  overflow: hidden;
}
.case .contaner a {
  background: 0 0;
  border: 2px solid #fff;
  font-size: 18px;
  width: fit-content;
  margin: 3rem auto;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Kalam, cursive;
}
.case .contaner a:hover {
  background-color: #fff;
  color: #32353e;
}
@media (max-width: 575px) {
  .case .contaner .p2 {
    display: none;
  }
  .case {
    background-size: cover;
  }
  .case .main-heading h2 {
    font-size: 2rem;
  }
  .case .contaner .p1 {
    font-size: 16px;
  }
  .case .link-button-case-section a {
    font-size: 14px;
    margin: 1rem auto;
  }
  .case .contaner .casepragraph {
        display: flex;
    text-align: center;
}
}
.business2 {
  background-image: url(../imgs/imgi_14_case21.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  position: relative;
}
.business2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
}
.business2 .main-heading {
  padding: 10px;
  margin-bottom: 20px;
}
.business2 .main-heading h3,
h2 {
  color: #fff;
}
.business2-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.numberwowfadeInUp {
  padding: 10px;
}
.numberwowfadeInUp .info {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.numberwowfadeInUp .info span {
  position: absolute;
  bottom: 30%;
  left: 42%;
  transform: translateX(-30%);
  font-size: 60px;
  font-weight: 500;
}
.numberwowfadeInUp p {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
 .numberwowfadeInUp .parg{
        display: flex;
        text-align: center;
        justify-content: center;
    }
@media screen and (max-width: 575px) {
  .numberwowfadeInUp {
    width: 100%;
  }
    .numberwowfadeInUp .parg{
        display: flex;
        text-align: center;
    }
  .contaner {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-direction: column;
  }
  .numberwowfadeInUp {
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .numberwowfadeInUp .parg{

  }
  .numberwowfadeInUp .parg p{}
  .business2-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
.testimonials {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.testimonials .main-heading h3 {
  line-height: 1.7;
  font-weight: 500;
  color: #32353e;
  font-size: 25px;
  text-transform: capitalize;
  font-family: Merienda, cursive;
}
.testimonials .main-heading h2 {
  margin-top: 5px;
  font-weight: 800;
  font-size: 40px;
  color: var(--secondary-color);
  position: relative;
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
}
.new {
  padding: 80px 0;
  background-image: url(../imgs/imgi_15_revenue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.new::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}
.new .main-heading h3 {
  line-height: 1.7;
  font-weight: 500;
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
  font-family: Merienda, cursive;
}
.new .main-heading h2 {
  margin-top: 5px;
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  position: relative;
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
}
.new .main-heading h2::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: #fff;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  animation: changewidth 2s infinite;
}
.new .main-heading h2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #32353e;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  border: 1px solid;
}
.new .button {
  display: block;
  width: 100%;
}
.new .button a {
  background: 0 0;
  border: 2px solid #fff;
  font-size: 18px;
  width: fit-content;
  margin: 3rem auto;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Kalam, cursive;
  transition: all 0.5s;
}
.new .button a:hover {
  background-color: #fff;
  color: #32353e;
}
@media screen and (max-width: 575px) {
  .new .main-heading h3 {
    font-size: 30px;
  }
  .new .main-heading h2 {
    font-size: 45px;
  }
}
.Content {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Content .main-heading {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.content.main-heading h3 {
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: Merienda, cursive;
  color: #32353e;
}
.contenth2 {
  margin-top: 5px;
  font-weight: 800;
  font-size: 40px;
  position: relative;
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
  color: #32353e;
}
.form-content {
  width: 100%;
  margin-top: 50px;
}
.form-content .form-content2 {
  margin: 0 auto;
}
.form-content .form-content2 form div {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
  width: 100%;
}
.form-content .form-content2 form div label {
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.form-content .form-content2 form div select {
  width: 700px;
  margin-bottom: 30px;
  padding: 22px 20px;
  border: none;
  outline: 0;
  background: #f6f6f6;
  max-width: 100%;
}
.form-content .form-content2 form div input.username {
  width: 700px;
  margin-bottom: 30px;
  padding: 22px 20px;
  border: none;
  outline: 0;
  background: #f6f6f6;
  max-width: 100%;
}
.form-content .form-content2 form div input.gmail {
  width: 700px;
  margin-bottom: 30px;
  padding: 22px 20px;
  border: none;
  outline: 0;
  background: #f6f6f6;
  max-width: 100%;
}
.form-content .form-content2 form div button {
  width: 150px;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-family: Kalam, cursive;
  text-transform: capitalize;
  font-size: 18px;
  transition: all 0.5s;
}
.form-content .form-content2 form div button:hover {
  background-color: #32353e;
  color: #fff;
}
footer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32353e;
}
footer .contaner {
  text-align: center;
}
img {
  vertical-align: middle;
}
footer p {
  margin: 10px 0 16px 0;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-size: 15px;
}
#linkfooter {
  display: block;
  margin: 0;
  width: fit-content;
  padding: 0;
  transition: all 0;
  background-color: #32353e;
  font-size: 15px;
  margin-left: 5px;
  transition: 0.5s;
  margin: 0 auto;
}
#linkfooter:hover {
  color: #15c0c9;
}
=======
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
/*----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
/*------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

:root {
}
* {
  font-family: "Merienda", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
h2 {
  font-family: "Caveat", cursive;
}
a {
  color: white;
  display: block;
  margin: 0 auto;
  width: fit-content;
  background: #15c0c7;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 25px;
  transition: 0.5s;
}
a:hover {
  background-color: #333;
}
.contaner {
  width: 85%;
  margin: 0 auto;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
 background-color: #15c0c7;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--first-link);
}

/*End global*/
/* strartheader */
header {
  background-color: #32353e;
  display: flex;
  justify-content: end;
  padding: 10px 15px;
}
header .socail-icon {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
header .socail-icon .icon-hearder {
  margin: 0 5px;
  background-color: #15bfc6;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background-color 0.5s;
}
header .socail-icon .icon-hearder:hover {
  background-color: white;
  cursor: pointer;
}

header .socail-icon .icon-hearder i:hover {
  color: #32353e;
}
header .formserche {
  background-color: #4a4e55;
}
header .formserche form {
  background-color: #4a4e55;
  padding: 5px 10px;
}
header .formserche form input::placeholder {
  color: white;
}
header .formserche form input,
header .formserche form button {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 5px 15px;
  color: white;
}
header .formserche form button {
  color: white;
  transition: color 0.5s;
}
header .formserche form button:hover {
  color: #15c0c7;
  cursor: pointer;
}
/*End header*/
/* strat nav */
nav {
  padding: 8px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navcontent .logo {
}
.bars-nav {
  display: none;
}
nav .navcontent .logo img {
  width: 150px;
}
nav .navcontent ul {
  list-style: none;
  display: flex;
}
nav .navcontent ul li {
  margin-right: 15px;
}
nav .navcontent ul li .linknavspaiacl{
   background-color: white;
   border: 0;
   margin: 0;
   width: fit-content;
   border-radius: 0;
   padding: 0;
   font-size: 18px;
   color: #32353e;
   cursor: pointer;
}

nav .navcontent ul li.active  a{
  color: #15c0c7;
}
nav .navcontent .contact {
}
nav .navcontent .contact span {
  display: block;
}
nav .navcontent .contact span:nth-child(2) {
  color: #15c0c7;
}
nav .navcontent .contact span:nth-child(2):hover {
  color: #32353e;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  nav .navcontent ul {
    display: none;
  }
  .bars-nav {
    display: block;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    margin-right: 15px;
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  nav .navcontent .contact {
    display: none;
  }
}

/* end nav */
@media screen and (max-width: 775px) {
  header .socail-icon {
    display: none;
  }
  .formserche,
  header .formserche form {
    width: 100%;
    display: flex;
  }
  header .formserche form input {
    flex-grow: 1;
    margin-right: 10px;
  }
}

/* Endtheader */

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../imgs/imgi_4_slider_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.layar {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
}

@media screen and (min-width: 1200px) {
  .contaner {
    width: 1170px;
    margin: 0 auto;
  }
}
.land-content {
  width: 78%;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.land-content h1 {
  font-size: 60px;
}
.land-content p {
  margin: 20px 0;
  font-size: 40px;
}

@media screen and (max-width: 780px) {
  .land-content p {
    display: none;
  }
  .land-content h1 {
    font-size: 30px;
  }
  .land-content a {
    margin-top: 20px;
    font-size: 1.4rem;
  }
}
#Business {
  padding: 50px 0;
  min-height: 100vh;
  width: 100%;
}
.main-head,
.main-heading {
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
}
.main-head span {
  font-size: 25px;
  font-weight: 500;
}
.main-head h2 {
  font-size: 40px;
  font-weight: 800;
}
.main-head h2 {
  position: relative;
}
.main-head h2::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: aqua;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  animation: changewidth 2s infinite;
}
.main-head h2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: aqua;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}
@keyframes changewidth {
  0% {
    width: 100px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 100px;
  }
}
.business-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
}
.business-card {
  width: calc(90% / 3);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-img {
  overflow: hidden;
}
.card-img img {
  width: 100%;
  display: block;
}
.card-img img:hover {
  transform: scale(1.2);
}
.card-info {
  padding: 10px;
}
.card-info span:nth-child(1) {
  color: #15c0c9;
  margin-right: 10px;
}
.card-info span {
  font-size: 15px;
  color: #777777;
}
.card-info h4 {
  margin: 15px 0;
  font-size: 25px;
}
.card-info p {
  color: #777777;
}
.buttonbessniscard {
  width: 90%;
  margin: 0 auto;
}
.button {
  margin-top: 48px;
  width: fit-content;
  margin-top: 48px;
}
@media screen and (max-width: 575px) {
  .business-cards .business-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .business-cards .business-card {
    width: 45%;
    margin-bottom: 20px;
  }
}

.services {
  padding: 40px 0;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-heading h3 {
  font-size: 1.75rem;
}
.main-heading h2 {
  margin-top: 5px;
  font-weight: 800;
  font-size: 40px;
  position: relative;
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
}
.main-heading h2::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: aqua;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  animation: changewidth 2s infinite;
}
.main-heading h2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: aqua;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.serv-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.serv-card {
  padding: 20px 30px;
  max-width: 25%;
  flex: 1 1 250px;
  text-align: center;
  /*
  
  max-width: 25%;
  box-sizing: border-box;

  */
}
.card-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 50%;
  color: #fff;
  background-color: #15c0c7;
}
.icon i {
  height: 48px;
  width: 48px;
  font-size: 50px;
  font-weight: 900;
}
.serv-card .icon i {
}
.serv-card p {
  line-height: 1.5;
  color: #b8b8b8;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.serv-card h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
  color: var(--secondary-color);
  position: relative;
  font-weight: 500;
  font-size: 25px;
}
.serv-card h3::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background: #cdced0;
}
a.server {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .serv-card {
    max-width: 45%;
  }
}

@media (max-width: 575px) {
  .serv-card {
    max-width: 100%;
  }
}
.case {
  width: 100%;

  background-image: url(..//imgs/imgi_13_case.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.layar2 {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.case .contaner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 50px 25px;
}

.case .main-heading {
  padding: 10px;
}
.case .main-heading h2 {
  margin: 5px 0px 30px 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}
.case .contaner p {
  color: white;
  max-width: 800px;
  margin: 30px auto;
}
.case .contaner .p1 {
  font-size: 25px;
  line-height: 1.8;
}
.case .contaner .p2 {
  font-size: 18px;
  line-height: 1.8;
}
.link-button-case-section {
  overflow: hidden;
}
.case .contaner a {
  background: 0 0;
  border: 2px solid #fff;
  font-size: 18px;
  width: fit-content;
  margin: 3rem auto;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Kalam, cursive;
}
.case .contaner a:hover {
  background-color: white;
  color: #32353e;
}
@media (max-width: 991px) {
}

@media (max-width: 575px) {
  .case .contaner .p2 {
    display: none;
  }
  .case {
    background-size: cover;
  }
  .case .main-heading h2 {
    font-size: 2rem;
  }
  .case .contaner .p1 {
    font-size: 1.2rem;
  }
  .case .link-button-case-section a {
    font-size: 14px;
    margin: 1rem auto;
  }
}
.business2 {
  background-image: url(../imgs/imgi_14_case21.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  position: relative;
}
.business2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.5);
}
.business2 .main-heading {
  padding: 10px;
  margin-bottom: 20px;
}
.business2 .main-heading h3,
h2 {
  color: white;
}

.business2-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.numberwowfadeInUp {
  padding: 10px;
}
.numberwowfadeInUp .info {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 30px;
  position: relative;
  color: white;
}
.numberwowfadeInUp .info span {
  position: absolute;
  bottom: 30%;
  left: 42%;
  transform: translateX(-30%);
  font-size: 60px;
  font-weight: 500;
}
.numberwowfadeInUp p {
  font-size: 22px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
}
@media screen and (max-width: 575px) {
  .numberwowfadeInUp {
    width: 100%;
  }
  .contaner {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-direction: column;
  }
  .numberwowfadeInUp {
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .business2-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
}
/*

*/
.testimonials {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.testimonials .main-heading h3 {
  line-height: 1.7;
  font-weight: 500;
  color: #32353e;
  font-size: 25px;
  text-transform: capitalize;
  font-family: Merienda, cursive;
}
.testimonials .main-heading h2 {
  margin-top: 5px;
  font-weight: 800;
  font-size: 40px;
  color: var(--secondary-color);
  position: relative;
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
}

/* startnew */
.new {
  padding: 80px 0;
  background-image: url(../imgs/imgi_15_revenue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.new::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
}
.new .contaner {
}
.new .main-heading h3 {
  line-height: 1.7;
  font-weight: 500;
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  font-family: Merienda, cursive;
}
.new .main-heading h2 {
  margin-top: 5px;
  font-weight: 800;
  font-size: 40px;
  color: white;
  position: relative;
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
}
.new .main-heading h2::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background: white;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  animation: changewidth 2s infinite;
}
.new .main-heading h2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #32353e;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  border: 1px solid;
}
.new .button {
  display: block;
  width: 100%;
}
.new .button a {
  background: 0 0;
  border: 2px solid #fff;
  font-size: 18px;
  width: fit-content;
  margin: 3rem auto;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Kalam, cursive;
  transition: all 0.5s;
}
.new .button a:hover {
  background-color: white;
  color: #32353e;
}
@media screen and (max-width: 575px) {
  .new .main-heading h3 {
    font-size: 30px;
  }
  .new .main-heading h2 {
    font-size: 45px;
  }
}
/* Endnew */

/* start content */
.Content {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Content .main-heading {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.content.main-heading h3 {
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: Merienda, cursive;
  color: #32353e;
}
.contenth2 {
  margin-top: 5px;
  font-weight: 800;
  font-size: 40px;
  position: relative;
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
  color: #32353e;
}
.form-content {
  width: 100%;
  margin-top: 50px;
}
.form-content .form-content2 {
  
  margin: 0 auto;
}
.form-content .form-content2 form {
}
.form-content .form-content2 form div {
  text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-size: 20px;
    
    text-transform: capitalize;
    margin-bottom: 10px;
    width: 100%;
}
.form-content .form-content2 form div label {
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.form-content .form-content2 form div select {
    width: 700px;
    margin-bottom: 30px;
    padding: 22px 20px;
    border: none;
    outline: 0;
    background: #f6f6f6;
    max-width: 100%;
}
.form-content .form-content2 form div select option {
}
.form-content .form-content2 form div input.username {
     width: 700px;
    margin-bottom: 30px;
    padding: 22px 20px;
    border: none;
    outline: 0;
    background: #f6f6f6;
    max-width: 100%;
}
.form-content .form-content2 form div input.gmail {
      width: 700px;
    margin-bottom: 30px;
    padding: 22px 20px;
    border: none;
    outline: 0;
    background: #f6f6f6;
    max-width: 100%;
}
.form-content .form-content2 form div button {
      width: 150px;
    /* height: 30px; */
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: Kalam, cursive;
    text-transform: capitalize;
    font-size: 18px;
    transition: all 0.5s;
}
.form-content .form-content2 form div button:hover{
  background-color: #32353e;
  color: white;
}

/* Ednd content */
/* strat footer */
footer{
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32353e;
}
footer .contaner{
  text-align: center;
}
footer{} img{
  vertical-align: middle;
}
footer p{
  margin: 10px 0 16px 0;
    
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 15px;
}
#linkfooter{
    display: block;
    margin: 0;
    width: fit-content;
    padding: 0;
    transition: all 0;
    background-color: #32353e;
    font-size: 15px;
    margin-left: 5px;
    transition: 0.5s;
    margin: 0 auto;
}
#linkfooter:hover{
color: #15c0c9;
}
/*
    color: white;
    display: block;
    margin: 0 auto;
    width: fit-content;
    background: #15c0c7;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
*/


/* End footer */
>>>>>>> 8ce54d5da3769ebc47fd38b940880979bf15b05f
